.commentsection {
    background-color: var(--color-bgc);
    padding: 0 24px;
    min-height: 100vh;
}

.back h2 {
    color: var(--color-bgc);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.form > input {
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    margin-top: 16px;

    border: none;
    outline: none;
}
.form > button {
    text-align: center;
    display: block;
    padding: 12px 32px;
    color: var(--color-bgc);
    background-color: var(--color-primary);
    border-radius: 12px;
    width: 100%;
    border: none;
    outline: none;

    margin-bottom: 24px;
}